mixin details(participant)
	.details-title 
		div #{participant.player.getName()}
		div.ship 
			img(src=`img/icon_${participant.ship.getClass().toLowerCase()}.png`)
			| &nbsp;
			| #{participant.ship.getLabel()}

	.details-line
		span.caption Winrate:
		span.value
			| #{(100 * participant.player.getWinrate()).toFixed(2)}
			span.unit %
	.details-line
		span.caption Battles:
		span.value #{participant.player.getBattles()}