include details 

- 
	function winrate(wr) {
		wr *= 100;
		if (0 < wr && wr < 45)
			return 'bad';
		else if (45 <= wr && wr < 49)
			return 'belowaverage';
		else if (49 <= wr && wr < 52)			
			return 'average';
		else if (52 <= wr  && wr < 54)
			return 'good';
		else if (54 <= wr && wr < 56)
			return 'verygood';
		else if (56 <= wr && wr < 60)
			return 'great';
		else if (60 <= wr && wr < 65)
			return 'unicum';
		else if (65 <= wr)
			return 'superunicum';
	}
	function rank(battles) {
		if (0 <= battles && battles < 100)
			return 'ensign';
		else if (100 <= battles && battles < 500)
			return 'lieutenant';
		else if (500 <= battles && battles < 2000)
			return 'lieutenant-commander';
		else if (2000 <= battles && battles < 10000)
			return 'commander';
		else if (10000 <= battles && battles < 20000)
			return 'captain';
		else if (20000 <= battles && battles < 30000)
			return 'rear-admiral';
		else if (30000 <= battles)
			return 'admiral';
	}

mixin row(participant)
	.participant(class=participant.ship.class.toLowerCase(), data-details=participant.player.name)&attributes(attributes)
		.ship(class=(options || {}).primary === 'ship' ? 'primary' : 'secondary')
			svg.class(viewBox="0 0 100 100" preserveAspectRatio="midXMaxY meet") 
				use(href=`img/classes.svg#${participant.ship.class.toLowerCase()}`)
			span #{participant.ship.label}

		.person(class=(options || {}).primary === 'ship' ? 'secondary' : 'primary')
			svg.rank(viewBox="0 0 100 100" preserveAspectRatio="none")
				use(href=`img/ranks.svg#${rank(participant.player.battles)}`)
			span #{participant.player.name}
		
		if participant.player.bot
			.stats.notification Bot
		else if participant.player.hidden
			.stats.notification private
		else if participant.player instanceof Error
			.stats.notification error
		else
			.stats.winrate(class=winrate(participant.player.winrate))
				span #{(100 * participant.player.winrate).toFixed(1)} 
				span.unit %
	
	aside.details(
		class=attributes.class,
		class=participant.player.name === player.name ? 'player' : '',
		class=participant.ship.class.toLowerCase(),
		data-details-for=participant.player.name)
		+details(participant)


.roster.allies
	each ally in allies
		+row(ally).ally(class=ally.player.name === player.name ? 'player' : '')
.roster.enemies
	each enemy in enemies
		+row(enemy).enemy