include details

- const rows = Math.max(allies.length, enemies.length);
- 
	function winrateClass(wr) {
		wr *= 100;
		if (0 < wr && wr < 45)
			return 'bad';
		else if (45 <= wr && wr < 49)
			return 'belowaverage';
		else if (49 <= wr && wr < 52)			
			return 'average';
		else if (52 <= wr  && wr < 54)
			return 'good';
		else if (54 <= wr && wr < 56)
			return 'verygood';
		else if (56 <= wr && wr < 60)
			return 'great';
		else if (60 <= wr && wr < 65)
			return 'unicum';
		else if (65 <= wr)
			return 'superunicum';
	}
div
	table
		colgroup
			col.ally.name
			col.ally.winrate
			col.enemy.winrate
			col.enemy.name
		- for (let i = 0; i < rows; i++) {
			- const ally = allies[i];
			- const enemy = enemies[i];
			tr
				td(class=ally.player.name === player.name ? 'player' : '', data-details=ally.player.name) 
					span.name #{ally.player.name}
					| <br>
					span.ship 
						img(src=`img/icon_${ally.ship.getClass().toLowerCase()}.png`)
						| &nbsp;#{ally.ship.getLabel()}
				td
					if ally.player.bot
						span.notification Bot
					else if ally.player.hidden
						span.notification private
					else
						span.winrate(class=winrateClass(ally.player.winrate), data-details=ally.player.name) 
							| #{(100 * ally.player.winrate).toFixed(1)} 
							span.unit %
						aside.details.ally(data-details-for=ally.player.name)
							+details(ally.player)
				td
					if enemy.player.bot
						span.notification Bot
					else if enemy.player.hidden
						span.notification private
					else
						span.winrate(class=winrateClass(enemy.player.winrate), data-details=enemy.player.name) 
							| #{(100 * enemy.player.winrate).toFixed(1)}
							span.unit %
						aside.details.enemy(data-details-for=enemy.player.name)
							+details(enemy.player)
				td(data-details=enemy.player.name)
					span.name #{enemy.player.name}
					| <br>
					span.ship
						| #{enemy.ship.getLabel()}&nbsp;
						img(src=`img/icon_${enemy.ship.getClass().toLowerCase()}_mirrored.png`)
		- }		