.details-title #{hydro.ship.getLabel()}

.details-line
	span.caption Range:
	span.value 
		| #{range}
		span.unit m

hr
		
.details-line
	span.caption Duration (base):
	span.value
		| #{hydro.baseTime}
		span.unit s

.details-line
	span.caption Duration (max):
	span.value
		| #{Math.ceil(hydro.maxTime)}
		span.unit s

.details-line
	span.caption Cooldown:
	span.value
		| #{hydro.cooldown}
		span.unit s
