mixin legend(type) 
	ul.legend
		if type === 'he'
			li.he You penetrate this part of the ship's armor
			li.ifhe You penetrate this part of the ship's armor with IFHE
			li You do not penetrate this part of the ship's armor
		else if type === 'sap'
			li.sap You penetrate this part of the ship's armor
			li You do not penetrate this part of the ship's armor

mixin details(ship, armor)
	- 
		// Mapping ammo type to label
		const AMMO_NAMES = {
			he: 'High explosive',
			sap: 'Semi-armor piercing'
		};
		// Given a ship and an ammo type, return a classifier function
		function classifier(ship, ammo) {
			const thickness = id => ship.get(`hull.armor.${id}`);
			switch (ammo) {
				case 'he':
					return (piece, id) => ({
						he: thickness(id) <= ownship.he,
						ifhe: thickness(id) <= ownship.ifhe
					});
				case 'sap':
					return (piece, id) => ({
						sap: thickenss(id) <= ownship.sap
					});
			};
		}

	aside.details.enemy(data-details-for=ship.name)
		.details-title #{ship.label}
		
		each ammo in [ 'he', 'sap' ]
			if(ownship[ammo])
				.details-line(class=ammo)
					.caption #{AMMO_NAMES[ammo]} shells
					each view in [ 'side', 'top' ]
						.armor(class=view)
							if armor[view] instanceof Error
								div.error This view could not be created: #{armor[view].message}
							else
								+armorview(armor[view], classifier(ship, ammo))

					+legend(ammo)