- 
	const playerEntry = entries.find(entry => entry.ship.id === teams.player);
	const MAX_VALUE = Math.max(...entries.map(entry => entry.max.knifefighting)) + 200;
	const subdivisions = options?.subdivisions ?? [];
.content
	each entry in entries
		.ship(class = {
					"ally": teams.allies.includes(entry.ship.id),
					"enemy": teams.enemies.includes(entry.ship.id),
					"player": teams.player === entry.ship.id
		})
			span.label(data-details = entry.ship.name) #{entry.ship.label}
			div
				.shipbar(style=`width: ${100 * entry.max.knifefighting / MAX_VALUE}%;`, data-details = entry.ship.name) &nbsp;
					//- Only display break-even points if an entry for the player is displayed
					if playerEntry
						each subdivision in subdivisions
							.comparison(style=`left: ${subdivision * playerEntry.max.knifefighting / entry.max.knifefighting}%;`) 
								- const comparison = Math.round(subdivision / 100 * playerEntry.max.knifefighting / entry.max.dpm.pertinent)
								span #{ comparison > 9999 ? `${(comparison / 1000).toFixed(1)}k` : comparison }
			aside.details(data-details-for=entry.ship.name, class = {
				"ally": teams.allies.includes(entry.ship.id),
				"enemy": teams.enemies.includes(entry.ship.id),
				"player": teams.player === entry.ship.id
			})
				include details